<template>
    <div>
         <!-- Header-Area -->
        <header class="header-area v1 relative-box" id="home-area">
            <div class="image-side-box right-box hidden-xs hidden-sm">
            </div>
            <div class="container">
                <form class="form-horizontal" role="form"  @submit.prevent="submit">
                    <div class="form-group row" v-bind:class="{ 'has-error': errors.name }">
                        <label for="name" class="col-md-4 col-form-label text-md-right">Имя'</label>

                        <div class="col-md-6">
                            <input v-model="name" id="name" type="text" class="form-control" autocomplete="name" autofocus>
                            <span class="help-block" v-if="errors.name">
                                {{ errors.name[0] }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group row" v-bind:class="{ 'has-error': errors.email }">
                        <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail</label>

                        <div class="col-md-6">
                            <input v-model="email" id="email" type="email" class="form-control" name="email" autocomplete="email">
                            <span class="help-block" v-if="errors.email">
                                {{ errors.email[0] }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group row" v-bind:class="{ 'has-error': errors.password }">
                        <label for="password" class="col-md-4 col-form-label text-md-right">Пароль</label>

                        <div class="col-md-6">
                            <input v-model="password" id="password" type="password" class="form-control" autocomplete="new-password">
                            <span class="help-block" v-if="errors.password">
                                {{ errors.password[0] }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Подтверждение паролья</label>

                        <div class="col-md-6">
                            <input v-model="confirm_password" id="password-confirm" type="password" class="form-control" autocomplete="new-password">
                        </div>
                    </div>

                    <div class="form-group row mb-0">
                        <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                Регистрация
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </header>
        <!-- Header-Area-End -->
    </div>
</template>





<script>
import {mapActions} from 'vuex'

export default {
    data() {
        return {
            name: null,
            email: null,
            password: null,
            confirm_password: null,
            errors: [],
        }
    },
    methods:{
        ...mapActions({
            register: 'auth/register'
        }),
        submit(){
            this.register({
                payload:{
                    name: this.name,
                    email: this.email,
                    password: this.password,
                },
                context: this,
            })
            /**.then(() =>{
                    this.$router.replace({name: 'home'})
                }) */
        },
    },
}
</script>