<template>
    <!--[ Recent Users ] start-->
    <div class="col-xl-12 col-md-12">
        <div class="card Recent-Users">
            <div class="card-header">
                <h5><button @click="submit()" class="btn btn-primary">Показать новые заявки</button></h5>
            </div>
            <div class="card-block px-0 py-3">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                            <th scope="col">Номер заявки</th>
                            <th scope="col">Имя Клиента</th>
                            <th scope="col">Дата подачи</th>
                            <th scope="col">Номер телефона</th>
                            <th scope="col">Адрес</th>
                            <th scope="col">Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(order, index) in orders" :key="index" class="unread">
                                <td>{{index+1}}</td>
                                <td>
                                    <h6 class="mb-1">{{order.name}}</h6>
                                    <p class="m-0">Lorem Ipsum is simply…</p>
                                </td>
                                <td>
                                    <h6 class="text-muted">
                                        <i class="fas fa-circle text-c-green f-10 m-r-15"></i>
                                        {{order.created_at}}
                                    </h6>
                                </td>
                                <td>{{order.number}}</td>
                                <td>{{order.address}}</td>
                                <td>
                                    <a href="#!" class="label theme-bg2 text-white f-12">Reject</a>
                                    <a href="#!" class="label theme-bg2 text-white f-12">Reject</a>
                                    <a href="#!" class="label theme-bg2 text-white f-12">Reject</a>
                                    <a href="#!" class="label theme-bg text-white f-12">Approve</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--[ Recent Users ] end-->
</template>




<script>
    import { mapActions } from 'vuex'

    export default {
        data () {
            return {
                orders: [],
                errors: []
            }
        },
        methods: {
            ...mapActions({
                order: 'crm/orders'
            }),
            submit () {
                this.order({
                    context: this
                }).then(() => {
                    //console.log(this.orders)
                })
            }
        }
    }
</script>