<template>
    <div>
        <!-- Footer-Area-Start -->
        <footer class="footer-area section-bg" id="contact-area" style="background-image: url('assets/images/footer-bg.png')">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Subscribe-Area-Start -->
                        <div class="subscribe-area">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                                    <div class="page-title">
                                        <h1 class="title">Never miss <br> any update</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <form id="mc-form">
                                        <div class="subscribe-form">
                                            <input type="email" class="form-input" id="mc-email" name="email" placeholder="Your email">
                                            <button class="bttn-3 submit" type="submit">Pre-Book My Order</button>
                                            <div class="info">Your email address is safe with us. We never share your email address.</div>
                                        </div>
                                        <label class="mt10" for="mc-email"></label>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Subscribe-Area-End -->
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <!-- Footer-Widget-Start -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget">
                                <h4 class="widget-title">About Us</h4>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget">
                                <h4 class="widget-title">Quick Link</h4>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">Pricing</a></li>
                                    <li><a href="#">Team</a></li>
                                    <li><a href="#">Contact Us!</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget">
                                <h4 class="widget-title">Support</h4>
                                <ul>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Support</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget">
                                <h4 class="widget-title">Social</h4>
                                <p>Please connect with our social profiles.</p>
                                <div class="space-30"></div>
                                <div class="social-menu">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer-Widget-End -->
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <span class="copyright">&copy; 2019 ECON. All Rights Reserved</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer-Area-End -->
    </div>
</template>